@import "./reset";

html, body {
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    @media(max-width: 767px) {
        &.lock {
            overflow: hidden;
        }
    }
}

.wrapper {

}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #5e5373;
        z-index: 2;
    }

    &__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;

        @media(max-width: 767px) {
            height: 50px;
        }
    }

    &__logo {
        flex: 0 0 60px;
        border-radius: 50%;
        overflow: hidden;
        z-index: 3;

        @media(max-width: 767px) {
            flex: 0 0 35px;
        }

        img {
            max-width: 100%;
            display: block;
        }
    }

    &__burger {
        display: none;

        @media(max-width: 767px) {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;

            &:before,
            &:after,
            & span {
                content: '';
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            } 

            &:before {
                top: 0;
            }

            &:after {
                bottom: 0;
            }

            & span {
                top: 9px;
            }

            &.active:before {
                transform: rotate(45deg);
                top: 9px;
            }

            &.active:after {
                transform: rotate(-45deg);
                bottom: 9px;
            }

            &.active span {
                transform: scale(0);
            }
        }
    }

    &__menu {
        @media(max-width: 767px) {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #18b5a4;
            transition: all 0.3s ease 0s;
            overflow: auto;

            &.active {
                top: 0;
                transition: all 0.3s ease 0s;
                padding: 70px 10px 20px 10px;
            }
        }
    }

    &__list {
        display: flex;
        position: relative;
        z-index: 3;

        @media(max-width: 767px) {
            display: block;
        }

        li {
            list-style: none;
            margin: 0 0 0 20px;

            @media(max-width: 767px) {
                margin: 0 0 20px 0;
            }
        }
    }

    &__link {
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        text-decoration: none;
    }
}

.content {
    padding: 100px 0 0 0;

    @media(max-width: 767px) {
        padding: 70px 0 0 0;
    }

    &__text {
        font-size: 18px;
        line-height: 25px;
    }
}

